n8n/workflow/Sample-Code-Data-Format.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "940c7f17-7016-4104-bada-464a37e0a5bc",
        "options": {
          "rawBody": false
        }
      },
      "id": "5e00073c-4194-4f2d-9b29-1f5706fb4a71",
      "name": "CodecOut",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -780,
        780
      ],
      "webhookId": "940c7f17-7016-4104-bada-464a37e0a5bc"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": 1,
              "operation": "equal",
              "value2": "={{ $json.Status }}"
            }
          ]
        }
      },
      "id": "b596e5b0-93b0-4e4a-9ca6-570268cb5520",
      "name": "FilterStatus",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [
        -360,
        780
      ]
    },
    {
      "parameters": {
        "batchSize": "=1",
        "options": {
          "reset": false
        }
      },
      "id": "2bccbd9f-fd96-41b1-a152-b84aefc943ff",
      "name": "LoopData",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        -100,
        780
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "$json.Id = uuidv4();\n\nfunction uuidv4() {\n    return 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'\n    .replace(/[xy]/g, function (c) {\n        const r = Math.random() * 16 | 0, \n            v = c == 'x' ? r : (r & 0x3 | 0x8);\n        return v.toString(16);\n    });\n}\n\nreturn $json;"
      },
      "id": "69972aae-8bdf-424e-bd79-18f4c3692466",
      "name": "SetId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        160,
        720
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"LoopData\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "ff7bf032-b1c7-462b-8313-d526def10891",
      "name": "HasData",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        460,
        820
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "xxxxxx",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "id",
              "value": "={{ $json.Id }}"
            },
            {
              "name": "=message",
              "value": "={{ $('CodecOut').item.json.headers.brand }} IPTAL"
            },
            {
              "name": "senderNumber",
              "value": "={{ $json.Msisdn }}"
            }
          ]
        },
        "options": {}
      },
      "id": "b0b5d2d5-2ad0-4b3a-85b0-3da8e84d135b",
      "name": "SendIncomingSms",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        640
      ],
      "disabled": true
    },
    {
      "parameters": {
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "CodecPermissions",
          "mode": "list",
          "cachedResultName": "CodecPermissions"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Msisdn": "={{ $json.Msisdn }}",
            "Id": "={{ $json.Id }}",
            "Status": "={{ $json.Status }}",
            "PermDate": "={{ $json.PermDate }}",
            "ConsentType": "={{ $json.ConsentType }}",
            "RecipientType": "={{ $json.RecipientType }}",
            "PermSource": "={{ $json.PermSource }}",
            "ConsentSource": "={{ $json.ConsentSource }}",
            "IysTransferStatus": "={{ $json.IysTransferStatus }}",
            "IysTransferErrorCode": "={{ $json.IysTransferErrorCode }}",
            "RetailerCode": "={{ $json.RetailerCode }}",
            "RetailerAccessCount": "={{ $json.RetailerAccessCount }}",
            "RetailerAccess": "={{ $json.RetailerAccess }}",
            "CreatedAt": "={{$now}}",
            "Brand": "={{ $('CodecOut').item.json.headers.brand }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Id",
              "displayName": "Id",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Msisdn",
              "displayName": "Msisdn",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "PermDate",
              "displayName": "PermDate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true
            },
            {
              "id": "ConsentType",
              "displayName": "ConsentType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "PermSource",
              "displayName": "PermSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "ConsentSource",
              "displayName": "ConsentSource",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RecipientType",
              "displayName": "RecipientType",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "IysTransferStatus",
              "displayName": "IysTransferStatus",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "IysTransferErrorCode",
              "displayName": "IysTransferErrorCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "RetailerCode",
              "displayName": "RetailerCode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "RetailerAccessCount",
              "displayName": "RetailerAccessCount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "RetailerAccess",
              "displayName": "RetailerAccess",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CreatedAt",
              "displayName": "CreatedAt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Brand",
              "displayName": "Brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ]
        },
        "options": {}
      },
      "id": "22217c63-be3f-429e-a525-fec715a8aca0",
      "name": "LogDb",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.2,
      "position": [
        460,
        460
      ],
      "credentials": {
        "postgres": {
          "id": "CMDU3CPCQOKrfDs2",
          "name": "Postgres account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "jsCode": "// Loop over input items and add a new field called 'myNewField' to the JSON of each one\nfor (const item of $input.all()) {\n  for (const bodyItem of item.json.body) {\n    return item.json.body;\n  }\n}\n\n// return $input.all();"
      },
      "id": "b02852f7-bac0-42c8-afee-e05558877b3f",
      "name": "Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -560,
        780
      ]
    }
  ],
  "pinData": {
    "CodecOut": [
      {
        "json": {
          "headers": {
            "brand": "On",
            "content-type": "application/json",
            "user-agent": "PostmanRuntime/7.32.3",
            "accept": "*/*",
            "postman-token": "b07704eb-c5e6-4b8f-9074-6fee839cee04",
            "host": "localhost:5678",
            "accept-encoding": "gzip, deflate, br",
            "connection": "keep-alive",
            "content-length": "854"
          },
          "params": {},
          "query": {},
          "body": [
            {
              "Msisdn": "00905418642533",
              "Status": 1,
              "PermDate": "2015-08-07T15:40:00.92",
              "ConsentType": "MESAJ",
              "PermSource": 1,
              "ConsentSource": "HS_MESA1J",
              "RecipientType": "BIREYSEL",
              "IysTransferStatus": 100,
              "IysTransferErrorCode": "H178",
              "RetailerCode": null,
              "RetailerAccessCount": 0,
              "RetailerAccess": null
            },
            {
              "Msisdn": "00905549851941",
              "Status": 1,
              "PermDate": "2015-08-07T15:56:05.523",
              "ConsentType": "MESAJ",
              "PermSource": 1,
              "ConsentSource": "IYS_WEB",
              "RecipientType": "BIREYSEL",
              "IysTransferStatus": 100,
              "IysTransferErrorCode": "H178",
              "RetailerCode": 58795354,
              "RetailerAccessCount": 2,
              "RetailerAccess": "30143398,45678910"
            }
          ]
        }
      }
    ]
  },
  "connections": {
    "CodecOut": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "FilterStatus": {
      "main": [
        [
          {
            "node": "LoopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopData": {
      "main": [
        [
          {
            "node": "SetId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SetId": {
      "main": [
        [
          {
            "node": "LogDb",
            "type": "main",
            "index": 0
          },
          {
            "node": "SendIncomingSms",
            "type": "main",
            "index": 0
          },
          {
            "node": "HasData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HasData": {
      "main": [
        [],
        [
          {
            "node": "LoopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "FilterStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8ed6ff57-78dd-42e8-8aac-205cfc7d95b5",
  "id": "PzJdHxZkGBCb11By",
  "meta": {
    "instanceId": "8b262d7a1d020ff1d37743b8feb5e5e7bc24ec7da1fbad49bf466bb2e431c34a"
  },
  "tags": []
}
