n8n/workflow/Strapi_Flow.json
{
  "name": "Strapi-Flow",
  "nodes": [
    {
      "parameters": {},
      "id": "65f96771-c56a-44d3-843e-4ec3d85fae2a",
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        120,
        400
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "contentType": "=students?populate=*",
        "options": {
          "where": ""
        }
      },
      "id": "d9746a14-ccb8-45b1-be3e-ea4b6e787b23",
      "name": "GetFromStrapi",
      "type": "n8n-nodes-base.strapi",
      "typeVersion": 1,
      "position": [
        400,
        400
      ],
      "credentials": {
        "strapiApi": {
          "id": "rE8RBoR2eUltN3ja",
          "name": "Strapi account"
        }
      }
    },
    {
      "parameters": {
        "batchSize": 2,
        "options": {}
      },
      "id": "e743a5f2-2df0-4f0c-96c7-bb0c3e4d435b",
      "name": "LoopData",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 2,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": "={{$node[\"LoopData\"].context[\"noItemsLeft\"]}}"
            }
          ]
        }
      },
      "id": "b9f2c54b-c020-46f2-9a0b-479afdb126d4",
      "name": "HasData",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        960,
        380
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Trigger": {
      "main": [
        [
          {
            "node": "GetFromStrapi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GetFromStrapi": {
      "main": [
        [
          {
            "node": "LoopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LoopData": {
      "main": [
        [
          {
            "node": "HasData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HasData": {
      "main": [
        [],
        [
          {
            "node": "LoopData",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "bd7d7a33-8252-44a0-b9fd-62dbcc0eb080",
  "id": "puXDIpT14RgZPXqJ",
  "meta": {
    "instanceId": "8b262d7a1d020ff1d37743b8feb5e5e7bc24ec7da1fbad49bf466bb2e431c34a"
  },
  "tags": []
}